
#map-container {
    width: 100%;
    height: 300px;
    background-color: black;
}

#map {
    width: 100%;
    height: 100%;
}

#log-list {
    color: lightgray;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 0.5em;
}